{
    "reddit": {
        "client_id": "",
        "client_secret": "",
        "user_agent": "linux:redditquery:v0"
    },
    "database": {
        "user": "redditquery",
        "password": "redditquery"
    }
}
